<%- include('header'); -%>
<form action="/index.html" method="post">
  <button type="button submit" class="btn btn-primary"> Add </button>
</form>
<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Mobile</th>
    <th>Gender</th>
    <th>Role</th>
  </tr>

</table>

<%- include('footer'); -%>
